body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}

.legend {
  right:100px;
  bottom:50px;
  padding:20px;
  position: absolute;
  background-color: #fff;
  z-index: 2000;

}

td{
  min-width: 30px;
}
#MON{
  background-color: #42f45f;
}
#TUE{
  background-color:#42eef4;
}
#WED{
  background-color:#4280f4;
}
#THU{
  background-color:#6542f4;
}
#FRI{
  background-color:#f44280;
}
